# MySQL连接

## jupyter 魔法方法连接

In [2]:
%load_ext sql

In [3]:
%sql mysql+mysqlconnector://root:123456@localhost:3306/world

In [4]:
%%sql
SHOW TABLES;

 * mysql+mysqlconnector://root:***@localhost:3306/world
3 rows affected.

[('city',), ('country',), ('countrylanguage',)]

In [5]:
%%sql
SHOW DATABASES;

 * mysql+mysqlconnector://root:***@localhost:3306/world
6 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('test',),
 ('world',)]

In [6]:
%%sql
SELECT * FROM country LIMIT 5;

 * mysql+mysqlconnector://root:***@localhost:3306/world
5 rows affected.

[('ABW', 'Aruba', 'North America', 'Caribbean', Decimal('193.00'), None, 103000, Decimal('78.4'), Decimal('828.00'), Decimal('793.00'), 'Aruba', 'Nonmetropolitan Territory of The Netherlands', 'Beatrix', 129, 'AW'),
 ('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', Decimal('652090.00'), 1919, 22720000, Decimal('45.9'), Decimal('5976.00'), None, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Mohammad Omar', 1, 'AF'),
 ('AGO', 'Angola', 'Africa', 'Central Africa', Decimal('1246700.00'), 1975, 12878000, Decimal('38.3'), Decimal('6648.00'), Decimal('7984.00'), 'Angola', 'Republic', 'José Eduardo dos Santos', 56, 'AO'),
 ('AIA', 'Anguilla', 'North America', 'Caribbean', Decimal('96.00'), None, 8000, Decimal('76.1'), Decimal('63.20'), None, 'Anguilla', 'Dependent Territory of the UK', 'Elisabeth II', 62, 'AI'),
 ('ALB', 'Albania', 'Europe', 'Southern Europe', Decimal('28748.00'), 1912, 3401200, Decimal('71.6'), Decimal('3205.00'), Decimal('2500.00'), 'Shqipëria', 'Republic', 'Rexhep Mejdani', 34, 'AL')]

## Python库连接

In [7]:
import mysql.connector

def sql(cmd):
    connection = mysql.connector.connect(
        host='localhost',
        port=3306,
        user='root',
        password='123456',
        database='world'  # 如果需要连接到特定数据库
    )

    cursor = connection.cursor()
    cursor.execute(cmd)
    for db in cursor.fetchall():
        print(db)

    cursor.close()
    connection.close()

In [8]:
sql('SHOW TABLES;')

('city',)
('country',)
('countrylanguage',)