# DDL

In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:123456@localhost:3306/world

## 数据库操作

### 查询所有数据库

In [2]:
%%sql
-- 查询所有数据库
SHOW DATABASES;

 * mysql+mysqlconnector://root:***@localhost:3306/world
6 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('test',),
 ('world',)]

### 查询当前数据库

In [3]:
%%sql
-- 查询当前数据库
SELECT DATABASE();

 * mysql+mysqlconnector://root:***@localhost:3306/world
1 rows affected.

[('world',)]

### 创建数据库

In [5]:
%%sql
-- 创建数据库
CREATE DATABASE test_db

 * mysql+mysqlconnector://root:***@localhost:3306/world
1 rows affected.

[]

### 删除数据库

In [6]:
%%sql
-- 删除数据库
DROP DATABASE test_db

 * mysql+mysqlconnector://root:***@localhost:3306/world
0 rows affected.

[]

### 切换数据库

In [12]:
%%sql
-- 切换数据库
USE test;
SELECT DATABASE();

 * mysql+mysqlconnector://root:***@localhost:3306/world
0 rows affected.
1 rows affected.

[('test',)]

## 表操作: 查询

In [13]:
%%sql
USE world

 * mysql+mysqlconnector://root:***@localhost:3306/world
0 rows affected.

[]

### 查询所有表

In [14]:
%%sql
-- 查询所有表
SHOW TABLES;

 * mysql+mysqlconnector://root:***@localhost:3306/world
3 rows affected.

[('city',), ('country',), ('countrylanguage',)]

### 查询表结构

In [15]:
%%sql
-- 查询表结构
DESC city;

 * mysql+mysqlconnector://root:***@localhost:3306/world
5 rows affected.

[('ID', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('Name', 'char(35)', 'NO', '', '', ''),
 ('CountryCode', 'char(3)', 'NO', 'MUL', '', ''),
 ('District', 'char(20)', 'NO', '', '', ''),
 ('Population', 'int', 'NO', '', '0', '')]

### 查询指定表的建表语句

In [16]:
%%sql
-- 查询指定表的建表语句
SHOW CREATE TABLE city;

 * mysql+mysqlconnector://root:***@localhost:3306/world
1 rows affected.

[('city', "CREATE TABLE `city` (\n  `ID` int NOT NULL AUTO_INCREMENT,\n  `Name` char(35) NOT NULL DEFAULT '',\n  `CountryCode` char(3) NOT NULL DEFAULT '',\n  ` ... (167 characters truncated) ... _1` FOREIGN KEY (`CountryCode`) REFERENCES `country` (`Code`)\n) ENGINE=InnoDB AUTO_INCREMENT=4080 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci")]

## 表操作-数据类型

## 表操作-修改

### 添加字段

In [19]:
%%sql
USE test;
-- SHOW TABLES;
DESC company;

 * mysql+mysqlconnector://root:***@localhost:3306/world
0 rows affected.
6 rows affected.

[('companyId', 'int', 'NO', 'PRI', None, ''),
 ('companyFullName', 'varchar(255)', 'YES', '', None, ''),
 ('companyLabelList', 'varchar(255)', 'YES', '', None, ''),
 ('companyShortName', 'varchar(255)', 'YES', '', None, ''),
 ('companySize', 'varchar(50)', 'YES', '', None, ''),
 ('businessZones', 'varchar(255)', 'YES', '', None, '')]

In [20]:
%%sql
-- 修改数据类型
ALTER TABLE company MODIFY companySize varchar(255);

 * mysql+mysqlconnector://root:***@localhost:3306/world
0 rows affected.

[]

In [21]:
%%sql
DESC company;

 * mysql+mysqlconnector://root:***@localhost:3306/world
6 rows affected.

[('companyId', 'int', 'NO', 'PRI', None, ''),
 ('companyFullName', 'varchar(255)', 'YES', '', None, ''),
 ('companyLabelList', 'varchar(255)', 'YES', '', None, ''),
 ('companyShortName', 'varchar(255)', 'YES', '', None, ''),
 ('companySize', 'varchar(255)', 'YES', '', None, ''),
 ('businessZones', 'varchar(255)', 'YES', '', None, '')]

### 修改字段名和字段类型

In [22]:
%%sql
ALTER TABLE company CHANGE companySize companySize varchar(50);
DESC company;

 * mysql+mysqlconnector://root:***@localhost:3306/world
0 rows affected.
6 rows affected.

[('companyId', 'int', 'NO', 'PRI', None, ''),
 ('companyFullName', 'varchar(255)', 'YES', '', None, ''),
 ('companyLabelList', 'varchar(255)', 'YES', '', None, ''),
 ('companyShortName', 'varchar(255)', 'YES', '', None, ''),
 ('companySize', 'varchar(50)', 'YES', '', None, ''),
 ('businessZones', 'varchar(255)', 'YES', '', None, '')]