# 约束

In [24]:
%load_ext sql
%sql mysql+mysqlconnector://root:123456@localhost:3306/world

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## 概述

<img src='./image/约束概述.jpg' width="70%">

## 约束演示

<img src='./image/约束演示.jpg' width='70%'>

In [25]:
%%sql
USE test;
DROP TABLE user;
CREATE TABLE user(
    id int primary key auto_increment comment '主键',
    name varchar(10) not null comment '姓名',
    age int CHECK( age > 0 && age <= 120) comment '年龄',
    status char(1) default '1' comment '状态',
    gender char(1) comment '性别'
) comment '用户表';
DESC user;

 * mysql+mysqlconnector://root:***@localhost:3306/world
0 rows affected.
0 rows affected.
0 rows affected.
5 rows affected.

[('id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(10)', 'NO', '', None, ''),
 ('age', 'int', 'YES', '', None, ''),
 ('status', 'char(1)', 'YES', '', '1', ''),
 ('gender', 'char(1)', 'YES', '', None, '')]

In [26]:
%%sql
INSERT INTO 
    user
        (name, age, status, gender)
    values
        ('Tom', 100, '0', '男'),
        ('Perl', 10, '3', '男');
SELECT * FROM user;

 * mysql+mysqlconnector://root:***@localhost:3306/world
2 rows affected.
2 rows affected.

[(1, 'Tom', 100, '0', '男'), (2, 'Perl', 10, '3', '男')]

In [27]:
%%sql
INSERT INTO 
    user
        (name, age, gender)
    values
        ('LiHua', 121, '男');
        -- ('Rookie', 25, '男');
SELECT * FROM user;

 * mysql+mysqlconnector://root:***@localhost:3306/world
(mysql.connector.errors.DatabaseError) 3819 (HY000): Check constraint 'user_chk_1' is violated.
[SQL: INSERT INTO
    user
        (name, age, gender)
    values
        ('LiHua', 121, '男');]
(Background on this error at: https://sqlalche.me/e/20/4xp6)

In [28]:
%%sql
INSERT INTO 
    user
        (name, age, gender)
    values
        ('Rookie', 25, '男');
SELECT * FROM user;

 * mysql+mysqlconnector://root:***@localhost:3306/world
1 rows affected.
3 rows affected.

[(1, 'Tom', 100, '0', '男'),
 (2, 'Perl', 10, '3', '男'),
 (3, 'Rookie', 25, '1', '男')]

## 外键约束

### 概念

<img src='./image/外键约束概念.jpg' width='70%'>

### 语法

<img src='./image/外键约束语法.jpg' width='70%'>

### 演示