# 多表查询

In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:123456@localhost:3306/world

## 多表关系

### 概述

* 一对多(多对一)
* 多对多
* 一对一

<img src='./image/多表关系一对多.jpg' width='70%'>

<img src='./image/多表关系多对多.jpg' width='70%'>

<img src='./image/多表关系一对一.jpg' width='70%'>

## 多表查询概述

<img src="./image/多表查询概述.jpg" width="70%">

## 多表查询分类

<img src="./image/多表查询分类.jpg" width="70%">

## 内连接

<img src="./image/内连接.jpg" width='70%'>

### 1. 隐式内连接

In [4]:
%%sql
SELECT
    city.Name 城市, country.Name 国家, city.Population 人口
FROM
    city, country
WHERE
    city.CountryCode = country.Code
    AND
    city.Population > 8000000
ORDER BY
    city.Population DESC;

 * mysql+mysqlconnector://root:***@localhost:3306/world
10 rows affected.

[('Mumbai (Bombay)', 'India', 10500000),
 ('Seoul', 'South Korea', 9981619),
 ('São Paulo', 'Brazil', 9968485),
 ('Shanghai', 'China', 9696300),
 ('Jakarta', 'Indonesia', 9604900),
 ('Karachi', 'Pakistan', 9269265),
 ('Istanbul', 'Turkey', 8787958),
 ('Ciudad de México', 'Mexico', 8591309),
 ('Moscow', 'Russian Federation', 8389200),
 ('New York', 'United States', 8008278)]

### 2. 显式内连接

In [7]:
%%sql
SELECT
    city.Name 城市, country.Name 国家, city.Population 人口
FROM
    city
INNER JOIN
    country
ON
    city.CountryCode = country.Code
ORDER BY
    city.Population DESC
LIMIT
    12;

 * mysql+mysqlconnector://root:***@localhost:3306/world
12 rows affected.

[('Mumbai (Bombay)', 'India', 10500000),
 ('Seoul', 'South Korea', 9981619),
 ('São Paulo', 'Brazil', 9968485),
 ('Shanghai', 'China', 9696300),
 ('Jakarta', 'Indonesia', 9604900),
 ('Karachi', 'Pakistan', 9269265),
 ('Istanbul', 'Turkey', 8787958),
 ('Ciudad de México', 'Mexico', 8591309),
 ('Moscow', 'Russian Federation', 8389200),
 ('New York', 'United States', 8008278),
 ('Tokyo', 'Japan', 7980230),
 ('Peking', 'China', 7472000)]

## 外连接

<img src='./image/多表查询外连接.jpg' width='70%'>

### 1.左外连接

In [17]:
%%sql
SELECT
    city.Name 城市, country.Name 所属国家, city.Population 城市人口, countrylanguage.Language 官方语言
FROM
    city
LEFT JOIN
    country
ON
    city.CountryCode = country.Code
LEFT JOIN
    countrylanguage
ON
    city.CountryCode = countrylanguage.CountryCode AND countrylanguage.IsOfficial = 'T'
ORDER BY
    city.Population DESC
LIMIT
    12;

 * mysql+mysqlconnector://root:***@localhost:3306/world
12 rows affected.

[('Mumbai (Bombay)', 'India', 10500000, 'Hindi'),
 ('Seoul', 'South Korea', 9981619, 'Korean'),
 ('São Paulo', 'Brazil', 9968485, 'Portuguese'),
 ('Shanghai', 'China', 9696300, 'Chinese'),
 ('Jakarta', 'Indonesia', 9604900, 'Malay'),
 ('Karachi', 'Pakistan', 9269265, 'Urdu'),
 ('Istanbul', 'Turkey', 8787958, 'Turkish'),
 ('Ciudad de México', 'Mexico', 8591309, 'Spanish'),
 ('Moscow', 'Russian Federation', 8389200, 'Russian'),
 ('New York', 'United States', 8008278, 'English'),
 ('Tokyo', 'Japan', 7980230, 'Japanese'),
 ('Peking', 'China', 7472000, 'Chinese')]

### 2. 右外连接

> 人口前十国家的 首都、人口及官方语言

In [28]:
%%sql
SELECT
    country.Name 国家, city.Name 首都, country.Population 国家人口, countrylanguage.Language 官方语言
FROM
    country
RIGHT JOIN
    city
ON
    city.CountryCode = country.Code AND country.Capital = city.ID
RIGHT JOIN
    countrylanguage
ON
    country.Code = countrylanguage.CountryCode AND countrylanguage.IsOfficial = 'T'
ORDER BY
    country.Population DESC
LIMIT
    10;

 * mysql+mysqlconnector://root:***@localhost:3306/world
10 rows affected.

[('China', 'Peking', 1277558000, 'Chinese'),
 ('India', 'New Delhi', 1013662000, 'Hindi'),
 ('United States', 'Washington', 278357000, 'English'),
 ('Indonesia', 'Jakarta', 212107000, 'Malay'),
 ('Brazil', 'Brasília', 170115000, 'Portuguese'),
 ('Pakistan', 'Islamabad', 156483000, 'Urdu'),
 ('Russian Federation', 'Moscow', 146934000, 'Russian'),
 ('Bangladesh', 'Dhaka', 129155000, 'Bengali'),
 ('Japan', 'Tokyo', 126714000, 'Japanese'),
 ('Mexico', 'Ciudad de México', 98881000, 'Spanish')]

## 自连接

<img src='./image/多表查询自连接.jpg' width='70%'>